.page-header {
  background-color: #e5e5e5;

  &__center {
    display: flex;
    padding: 15px 0;
    align-items: center;
  }

  &__logo {
    margin-right: 15px;
  }

  &__search {
    margin-right: 10px;
  }
}