.video {
  display: flex;

  &__left {
    width: 729px;
  }
  
  &__right {
    display: flex;
    padding: 35px;
    width: 436px;
    background-color: #e5e5e5;
    flex-direction: column;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom {
    display: flex;
    margin-top: auto;
    justify-content: center;
  }
}