@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #2f80ed;
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.col-lg-6,
.col-lg-3 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-3 {
  width: 25%;
}

.btn {
  border: none;
  padding: 5px 12px;
  background-color: #2F80ED;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 0 4px #2F80ED;

  &--icon {
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
  }
}